@import 'reset';

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
      url('../fonts/Inter-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}


body {
  background-color: #000000;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 65px;
  border-radius: 30px;

}

.header {
  margin-bottom: 50px;
  padding-top: 50px;

  // header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  // header__btn 

  &__btn {
    margin-left: auto;
    margin-right: 160px;
  }

}









@import 'media';